@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importing the custom font */
@font-face {
  font-family: 'Maisonfont'; /* Replace with your actual font name */
  src: url('/src/assets/fonts/FontsFree-Net-Maison-Neue-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Applying the custom font globally */
body {
  font-family: 'Maisonfont', sans-serif; /* Apply the custom font directly */
}

html {
  @apply scroll-smooth;
}
html {
  scroll-behavior: smooth;
}